.card-filme{
    display: inline-block;
    background-color: #53f599;
    text-align: center;
    padding: 10px;
    border: 2px solid blue;
    margin: 10px;
}

.card-filme img{
    display: inline-block;
    width: 200px;
}
.card-filme .filme-info{
    float: right;
    margin-top: 130px;
    padding: 5px;
    border: 1px solid black;
    margin-left: 5px;
}
.filmes{
 display: inline-block;
 margin-right: 20px;
}